.button {
  display: inline-block;
  padding: 16px 58px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  border-radius: 50px;
  color: map_get($palette, bg);
  border: 1px solid map_get($palette, accent-main);
  background-color: map_get($palette, accent-main);
  box-sizing: border-box;
  transform: $transition;

  &:hover {
    border-color: map_get($palette, accent-main-hover);
    background-color: map_get($palette, accent-main-hover);
  }

  &-yellow {
    border-color: map_get($palette, accent-second-dark);
    background: map_get($palette, accent-second-dark);
    transform: $transition;

    &:hover {
      border-color: map_get($palette, accent-second-hover);
      background: map_get($palette, accent-second-hover);
    }
  }
}
