.footer {
  padding: 74px 0;
  background-color: map_get($palette, accent-main);

  @include mq(sm) {
    padding: 58px 0 52px;
  }

  &__menu {
    display: flex;
    align-items: center;

    @include mq(md) {
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
    }

    &-item {
      margin-right: 54px;

      @include mq(md) {
        margin-right: 0;
      }
    }

    &-link {
      color: map_get($palette, bg);
      font-weight: 500;
      font-size: 16px;
      line-height: 250%;
    }
  }
}
